<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta charset="charset=utf-8" />
<meta name="author" content="Paco Samino" />
<meta name="copyright" content="&copy; 2011 Paco Samino" />
<meta name="description" content="All things digital" />
<META NAME="robots" CONTENT="nofollow" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="google" content="notranslate" />


