.card {

  $mail-fx-padding: .5rem;

  @include screen(tp) {
    transform: scale(.9);
  }

  @include screen(d) {
    transform: translateX(8%) scale(1);
  }
  @include screen(ld) {
    transform: translateX(10%) scale(1.25);
  }
  transform-origin: 0 0;
  transform: scale(.75);

  position: relative;
  display: none; // changed from Index.cardIntro
  margin: 0 0 7% 6rem;


  & > div {
    font-family: $card-font-family;
    padding-bottom: 1rem;
  }

  .name {


    @include screen(tp) {
      font-size: $card-name-font-size;
    }

    @include screen(d) {
      line-height: $card-name-line-height-d;
    }

    color: $card-name-color;
    font-size: $card-name-font-size;
    line-height: $card-name-line-height;
  }

  .copy {

    @include screen(d) {
      margin-top: -.2rem;
      line-height: initial;
      margin-bottom: 0;
    }


    margin-bottom: 2rem;

    color: $card-copy-color;
    font-size: $card-copy-font-size;
    line-height: $card-copy-line-height;
    margin-top: -.75rem;
  }


  .mail {

    @include screen(d) {
      margin-top: -2.75rem;
    }

    bottom: 0;
    transform-origin: 0 0;
    box-sizing: border-box;
    margin-top: -3rem;

    .flag {
      width: 415px;
      height: 90px;
      transform-origin: 0 0;
      transform: scale($card-flag-scale);
      transition: clip-path $TIME-5;
      clip-path: inset(0 100% 0 0); // changed from Index.cardIntro
      &__text {
        font-size: $card-mail-font-size;
      }

      .clip {
        transition: $TIME-3;
        clip-path: inset(0 100% 0 0);
      }

      &:hover {
        .clip {
          clip-path: inset(0 0 0 0);
        }
      }

    }

  }

}


/** ----------------- **/



