.case {


  &__header, &__content {
    position: relative;
    margin: auto;
    font-family: $case-font-family;
    font-size: $case-font-size;
    text-align: $case-text-align;
  }

  &__header {

    margin-bottom: 2rem;
    background: $beige20;

    .header__title {

      display: block;
      padding: 6rem 0 6rem 20%;
      text-transform: uppercase;

      .title__job {
        font-family: $case-title-font-family;
        font-size: $case-title-font-size;
      }

      .title__role {
        font-family: $case-role-font-family;
        font-size: $case-role-font-size;
        color: $case-role-font-color;
        text-transform: uppercase;
      }
    }


  }

  // end header

  .content__banners {
    @include flexbox;
    flex-wrap: wrap;
    justify-content: center;

    & > div {
      margin: 0 2rem;
    }

    iframe {
      visibility: visible;
      position: absolute;
      left: 0;
      top: 0;
      z-index: z-index();
    }
  }

  &__content {

    line-height: $case-line-height;
    width: 100%;
    height: 100%;
    z-index: $case-z-index;

    & svg .flag__border {
      stroke: $case-even-bgcolor;
    }

    & svg .flag__border {
      stroke: $case-even-bgcolor;
    }

    & > .content__item:nth-child(odd) {
      background: $case-odd-bgcolor;

      & svg .flag__border {
        stroke: $case-odd-bgcolor;
      }
    }

    p {
      @include screen(tl) {
        width: 70%;
      }
      width: 90%;
      margin: auto;
      max-width: $case-p-max-width;
    }

    &__full-row-text { // &__description {
      @include full-row-text;
    }


  }

  // end content

  .content__description {
    position: relative;
    margin: 3rem auto 3rem;

    &-heading {
      font-family: $case-description-heading-font-family;
      font-size: $case-description-heading-font-size;
      margin-bottom: 1.4rem;
    }

    &-text {
      margin-bottom: 4rem;
    }
  }

  // content__Description

  .content__item {

    p {
      margin-bottom: 1.5rem;
    }

    position: relative;
    margin: auto;
    padding: 4rem 0;
    box-sizing: border-box;


    &.row {
      @include screen(d) {
        max-width: $case-row-max-width-d;
      }
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      margin: auto;
      max-width: $case-row-max-width;

      & > div {
        flex-basis: 45%;
      }

      .row__item {
        position: relative;

        .player {
          cursor: pointer;
        }

        picture {
          @include flexboxCC;

          img {
            object-fit: contain;
            width: 100%;
            height: auto;
          }
        }
      }

    }

    //end row

  }

  // content__item

  .item__flex {
    @include screen(d) {
      display: flex;
    }
    box-sizing: border-box;
    margin: auto;
    max-width: $CONTENT-MAX-WIDTH;

    .item__text-full-row {
      @include full-row-text;
    }

    .item__text-above { // TODO this is the text to the left, refactor
      margin-bottom: 1rem;
      flex: 1;
      padding-right: 2rem;
      box-sizing: border-box;
    }

    .item__title {
      @include screen(d) {
        font-size: $case-title-font-size-d;
      }
      font-family: $case-title-font-family;
      font-size: $case-title-font-size;
      color: $case-title-color;
      text-transform: uppercase;
      margin: .5rem 0 .5rem;

    }


    .item__video-cont {
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: $case-video-cont-z-index;
    }


    .item__text-below { // TODO this is the text to the right, refactor
      margin-bottom: 1rem;
      flex: 1;
      padding-left: 1.5rem;
      box-sizing: border-box;
      @include screen(d) {
        padding-top: 0;
      }
      padding-top: 1rem;
    }

  }

  // end item flex


  &__footer {
    position: relative;
    width: 100%;
    height: 6rem;

    .footer__arrow {
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: z-index();
      transform: translateY(- $arrow_size / 2);

      svg {
        display: block;
        width: $arrow_size;
        height: $arrow_size;
        margin: auto;

        & .flag__border {
          stroke: $case-even-bgcolor;
        }

      }
    }
  }
}

// end case


.header__arrow-back {
  width: $arrow_size;
  height: $arrow_size;
  position: fixed;
  top: 4rem;
  left: 0;
  z-index: $case-z-index;
}

