.gallery {

  $z-img: 10;
  $z-play: 20;
  $z-new: 25;
  $z-preload: 30;
  $z-nav: 40;
  $z-close: 60;
  $z_gallery: 120;


  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 0; // set via Gallery.tsx
  visibility: hidden; // set via Gallery.tsx
  background: $gallery-background-color;
  z-index: $z-gallery;
  transition: height $TIME-3 ease-in-out;

  img {
    transition: $TIME-5 ease-in-out;
  }

  .pic {
    @include flexbox;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;

    img {
      object-fit: scale-down;
      width: 100%;
    }

    &--zoomed {
      img {
        object-fit: none;
        width: 100%;
        height: 100%;
      }
    }

  }

  & svg .flag__border {
    stroke: $gallery-background-color;
  }

  &__close, &__zoom {
    position: absolute;
    right: $gallery-padding-right;
    width: $gallery-bt-size;
    height: $gallery-bt-size;
    z-index: $z-close;
  }

  &__close {
    top: $gallery-padding-top;
  }

  &__zoom {
    top: $gallery-padding-top * 3;
  }


  .vid__flex {
    @include flexboxCC;
    position: relative;
    width: 100vw;
    height: 100vh;

    .vid__poster {

      @include flexbox;
      position: relative;

      &-cont {
        position: relative;
      }

      img {
        object-fit: contain; //scale-down;
        width: 90vw;
      }
    }

    .vid__poster-play-bt {
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: $z-play;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: $TIME-3 transform;

      div { // TODO refactor this; the transform on -bt is overwritten by the smoothscrolling transform
        // TODO also, this -cont is more or less the same as in Case, write a mixin
        transition: $TIME-3 transform;
      }

      svg {
        width: $gallery-bt-size;
        height: $gallery-bt-size;
      }

    }

    .vid__player-cont {
      @include flexboxCC;
      position: absolute;
      width: 100vw;
      z-index: 10;
      transition: $TIME-3 height;
      overflow-y: hidden;
      /** set Via Play.onClick. **/
      visibility: hidden;
      height: 0;
      /** ---------------------**/
      cursor: pointer;

      video {
        display: block;
        max-width: 960px;
        max-height: 720px;
        cursor: pointer;
      }
    }
  }

  // end vid-flex


}


