.home__item {
  @include screen(tl) {
    height: $home-item-height;
    flex-direction: row;
  }
  @include flexbox;
  flex-direction: column-reverse;
  max-heieght: $home-item-max-height;

  overflow-y: hidden;
  background: $home-item-even-bgcolor;

  & svg .flag__border {
    stroke: $home-item-even-bgcolor;
  }

  &:nth-child(odd) {
    background: $home-item-odd-bgcolor;

    & svg .flag__border {
      stroke: $home-item-odd-bgcolor;
    }
  }


  .item__left-block, .item__right-block {
    @include screen(tl) {
      @include flexbox;
      flex-flow: column;
    }

    display: block;
    width: 100%;

  }

  .item__left-block {
    @include screen(tl) {
      width: $home-item-left-block-with;
      height: 100%;
      padding: 6rem 3rem 2rem;
    }
    position: relative;
    padding: 1rem 1rem 2rem;
    height: 30%;

  }

  .item__right-block {
    @include screen(tl) {
      width: $home-item-right-block-with;
      height: 100%;
      max-height: none;
      overflow: auto;
    }

    overflow: hidden;
    max-height: 70vh;
    // TODO is it reasonable to go back to div backgrounds?
    picture {
      @include flexbox;

      height: 100%;
      width: 100%;
      overflow: hidden;
      justify-content: center;
      align-items: center;
      cursor: pointer;

      img {
        @include screen(tl) {
          object-fit: cover;
          width: auto;
          transform: scale($home-item-img-scale);
          &:hover {
            transform: scale($home-item-img-scale-hover);
          }
        }

        width: 100%;
        height: 100%;
        transition: transform $TIME-3 ease;

        &.lazy {
          @include screen(tl) {
            height: 100vh;
          }
        }

      }
    }

  }

  .item {

    &__title {
      @include screen(tl) {
        font-size: $home-item-title-font-size-tl;
      }
      font-family: $home-item-title-font-family;
      font-size: $home-item-title-font-size;
      color: $home-item-title-font-color;
      text-transform: uppercase;
      cursor: pointer;
    }

    &__role {
      @include screen(tl) {
        font-size: $home-item-role-font-size-tl;
      }
      font-family: $home-item-role-font-family;
      font-size: $home-item-role-font-size;
      color: $home-item-role-font-color;
      text-transform: lowercase;

    }

    &__description {
      font-family: $home-item-description-font-family;
      font-size: $home-item-description-font-size;
      color: $home-item-description-font-color;
      line-height: $home-item-description-line-height;
      padding-top: 2rem;
    }

    &__view-case {
      @include screen(tl) {
        position: absolute;
        bottom: 2rem;
        left: 1rem;
      }

      .clip {
        transition: $TIME-3;
        clip-path: inset(0 100% 0 0);
      }

      svg {

        padding: 2rem 0;
        height: 2.5rem;
        cursor: pointer;

        &:hover {
          .clip {
            clip-path: inset(0 0 0 0);
          }
        }

        text {
          @include screen(tl) {
            font-size: $view-case-font-size-tl;
          }

          font-family: $view-case-font-family;
          font-size: $view-case-font-size;
          color: $view-case-font-color;
          text-transform: lowercase;

        }

        // text
      }

      // svg

    }

    // end view case
  }


}

