.item__img {

  position: relative;
  flex: 2;
  box-sizing: border-box;

  &-caption {
    @include screen(tl) {
      margin: 1rem 0;
    }
    font-family: $caption-font-family;
    font-size: $caption-font-size;
    font-style: $caption-font-style;
    line-height: $caption-line-height;
    margin: 1rem 0 1rem 2rem;
  }

  &-bt {

    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: $case-bt-z-index;
    display: flex;
    align-items: center;
    justify-content: center;


    div { // TODO refactor this; the transform on -bt is overwritten by the smoothscrolling transform
      // TODO also, this &-bt is more or less the same as in gallery, write a mixin
      transition: $TIME-3 transform;
    }

    svg {
      width: $gallery-bt-size;
      height: $gallery-bt-size;
    }

    //TODO add transition between play and pause

  }

  img {
    width: 100%;
    height: auto;

    box-sizing: content-box;
    display: block;

  }

}
