// TODO move this into HomeFX as JS. One file less to maintain


@keyframes LOOP {
  0%   { background: $home-item-odd-bgcolor; }
  50% { background: $home-item-even-bgcolor; }
  100%{ background: $home-item-odd-bgcolor; }
}


.lazyFX {

  &-loading {
    animation: LOOP infinite 1.5s;
  }

  animation: LOOP infinite 1.5s;

  & > * {
    opacity: 0;

    &:nth-child(1) {
      transform: translate3d(0, 100px, 0);
      transition: $TIME-3 ease-out $TIME-5;
    }

    &:nth-child(2) {
      transform: translate3d(0, 140px, 0);
      transition: $TIME-5 ease-out $TIME-3;
    }

    &:nth-child(3) {
      transform: translate3d(0, 80px, 0);
      transition: $TIME-3 ease-out $TIME-3;
    }

    &:nth-child(4) {
      transform: translate3d(0, 160px, 0);
      transition: $TIME-5 ease-out $TIME-5;
    }

  }

  // end & > *

  &.done {

    animation: unset;
    transition: background $TIME-5;

    & > * {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }
}
