@keyframes IMTRO_PATCH {
  0% {
    display: none;
  }
  95% {
    display: none;
  }
  100% {
    display: flex;
  }
}

#linkedin {
  @include flexboxRC;
  height: 80px;
  padding-right: 20px;
  animation: INTRO_PATCH forwards 10s;
}


#linkedin--nt {
  @include flexboxCC;
}

#linkedin, #linkedin--nt {

  svg {
    display: block;
    margin: auto;

    width: 40px;
    height: 40px;
    tansform-origin: center;

    #bg {
      fill: #066C9A;
    }

  }

  a {
    opacity: 1;
    //border: 0 white solid;
    transition: $TIME-5 ease-in-out;

    &:hover {
      //border: 6px white solid;
      transform: scale(1.2);

      svg {
        #bg {
          fill: #066C9A;
        }

      }
    }
  }
}
