.splash{
  @include screen(tl){
    height:100vh;
  }
  @include flexbox;
  justify-content: center;
  flex-flow:column;
  transition:  $TIME-5 ease;
  width: 100vw;
  height:90vh;
  background: -moz-linear-gradient(top,     $beige30 0%,$beige 60%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  $beige30 0%,$beige 60%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,    $beige30 0%,$beige 60%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */


  .logos {

    position: absolute;
    bottom: 0;
    left: 0;

    @include flexboxCC;

    flex-flow: row wrap;
    width: 100vw;
    background: $logos-bg;
    padding: 0 2rem;


    &__flex {

      @include screen(940px) {
        width: 100%;
        max-width: none;
      }
      @include flexbox;
      align-items: center;
      justify-content: space-around;
      flex-wrap: wrap;
      width: 90%;
      max-width: 600px;
      margin: auto;

      & > div {

        display: inline-block;
        width: 12vh;

        max-height: 90px;
        min-height: 60px;
        min-width: 60px;

        background-size: 70% auto;
        background-repeat: no-repeat;
        background-position: center center;
        opacity: .25;

        a {
          display: block;
          width: 100%;
          height: 100%;
        }

      }
    }

  }

  // end logos


}
