html, body {
  overflow-x: hidden;
}


body {
  background: $body-bg-color;
}

main, section {
  box-sizing: border-box;
}


a {
  text-decoration: none;
}


* [data-reactroot] {
  width: inherit;
  height: inherit;
}


