﻿@mixin flexbox {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

@mixin screen($range) {
  $phone-upper-boundary: 480px; //pp
  $tablet-portrait-upper-boundary: 720px; // tp
  $tablet-landscape-upper-boundary: 900px; // tl
  $desktop-upper-boundary: 1200px; //d

  @if $range == pp {
    @media (max-width: #{$phone-upper-boundary - 1}) {
      @content;
    }
  } @else if $range == tp {
    @media (min-width: $phone-upper-boundary) {
      @content;
    }
  } @else if $range == tl {
    @media (min-width: $tablet-portrait-upper-boundary) {
      @content;
    }
  } @else if $range == d {
    @media (min-width: $tablet-landscape-upper-boundary) {
      @content;
    }
  } @else if $range == ld {
    @media (min-width: $desktop-upper-boundary) {
      @content;
    }
  } @else {
    @media (min-width: $range) {
      @content;
    }
  }
}

@mixin screenV($range) {
  $phone-upper-boundary: 480px;
  $tablet-portrait-upper-boundary: 720px;
  $tablet-landscape-upper-boundary: 900px;
  $desktop-upper-boundary: 1200px;

  @if $range == xs {
    @media (max-height: #{$phone-upper-boundary - 1}) {
      @content;
    }
  } @else if $range == sm {
    @media (min-height: $phone-upper-boundary) {
      @content;
    }
  } @else if $range == md {
    @media (min-height: $tablet-portrait-upper-boundary) {
      @content;
    }
  } @else if $range == lg {
    @media (min-height: $tablet-landscape-upper-boundary) {
      @content;
    }
  } @else if $range == xl {
    @media (min-height: $desktop-upper-boundary) {
      @content;
    }
  }
}


@mixin flexboxLC {
  @include flexbox;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-align-items: center;
  align-items: center;
}

@mixin flexboxRC {
  @include flexbox;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
  -webkit-align-items: center;
  align-items: center;
}

@mixin flexboxCB {
  @include flexbox;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: flex-end;
  align-items: flex-end;
}

@mixin flexboxCC {
  @include flexbox;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
}


@mixin full-row-text {
  margin: 2rem auto;
  position: relative;
  p {
    margin: auto;
    display: block;
  }
}


@mixin user-select($v:none) {
  -webkit-touch-callout: $v;
  -webkit-user-select: $v;
  -khtml-user-select: $v;
  -moz-user-select: $v;
  -ms-user-select: $v;
  user-select: $v;
}






