﻿@import "../fonts/ps_sticko";
@import "../fonts/museo_sans300";
@import "../fonts/museo_sans500";
@import "variables";
@import "mixins";
@import "reset";
@import "common";
@import "components/bt";
@import "components/card";
@import "components/splash";
@import "components/sections";
@import "components/home__item";
@import "components/linkedin";
@import "components/img";
@import "components/case";
@import "components/gallery";
@import "components/lazyFX";

// TODO rename i-scroll to '.main'
.i-scroll {
  width: 100%;

  div {
    box-sizing: border-box;
  }

  .home {
    width: 100%;
  }
}
