﻿@import "variables";
@import "mixins";
@import "reset";
@import "common";
@import "../fonts/ps_sticko";
@import "components/linkedin";

html, body {
  height: 100%;
}


main {

  @include flexboxCC;

  width: 100%;
  height: 100%;
  max-width: $MAX-WIDTH;
  line-height: 1;
  margin: auto;


  div {
    box-sizing: border-box;
  }

  .splash {
    @include flexboxCC;
    clip-path: inset(0 100% 0 0);
    transition: $TIME-5 ease $TIME-5;
    height: 100vh;

    &__content {
      position: relative;
      @include flexboxCC;
      flex-flow: column;
      width: 100%;
      height: 100%;

    }
  }


}


.card {

  $nt-card-font-family: $TITLE_FONT;
  $nt-card-name-color: $black10;
  $nt-card-name-font-size: 4rem;
  $nt-card-name-font-size-tp: $nt-card-name-font-size;
  $nt-card-name-line-height: 4rem;
  $nt-card-copy-font-size: $nt-card-name-font-size * .6103;
  $nt-card-copy-font-size-tp: $nt-card-copy-font-size;
  $nt-card-mail-color: $red;
  $nt-card-mail-color-hover: $white;
  $nt-card-mail-font-size: 47.6692px;
  $nt-card-flag-scale: ( ( $nt-card-copy-font-size * 16px ) / $nt-card-mail-font-size )/1rem;
  $nt-card-mail-font-size-tp: $nt-card-copy-font-size-tp;
  $nt-card-copy-color: $black10;
  $nt-card-mail-bg-color: $body-bg-color;
  $nt-card-mail-bg-color-hover: $red;


  @include screen(tp) {
    transform: scale(1);
  }

  $mail-fx-padding: .5rem;

  position: relative;
  min-width: 0;
  width: 415px; // for IE EDGE
  width: -moz-max-content;
  width: -webkit-max-content;
  width: -o-max-content;
  width: max-content;

  margin: 0 auto;
  transform: scale(.75);

  &--offset {
    @include screen(tp) {
      transform: translateX(.5rem) scale(1);
    }
    transform: translateX(.4rem) scale(.75);
  }

  & > div {
    font-family: $nt-card-font-family;
  }

  .name {
    color: $nt-card-name-color;
    font-size: $nt-card-name-font-size;
    line-height: $nt-card-name-line-height;
    padding-bottom: .5rem;

  }

  .copy {
    color: $nt-card-copy-color;
    font-size: $nt-card-copy-font-size;
    max-width: 250px; // to force the wrapping of "user centered ...."

  }


  .mail {

    position: absolute;
    bottom: 0;
    transform-origin: 0 0;
    transform: translateY(90%);
    box-sizing: border-box;

    .flag {
      width: 415px;
      height: 90px;
      transform-origin: 0 0;
      transform: scale($nt-card-flag-scale);

      &__text {
        font-size: $nt-card-mail-font-size;
      }

      .clip {
        transition: $TIME-3;
        clip-path: inset(0 100% 0 0);
      }

      &:hover {
        .clip {
          clip-path: inset(0 0 0 0);
        }
      }

    }

  }

}


.logos {

  @include flexboxCC;

  @include screen(840px) {
    width: 100%;
  }

  margin: 25vh auto 4rem;
  flex-flow: row wrap;
  width: 100vw;

  & > div {

    @include screen(tp) {
      width: 15vh;
      max-height: 80px;
      height: 12vh;
    }

    display: inline-block;
    width: 12vh;

    max-height: 90px;
    min-height: 60px;
    min-width: 60px;

    background-size: 70% auto;
    background-repeat: no-repeat;
    background-position: center center;
    opacity: .25;

    a {
      display: block;
      width: 100%;
      height: 100%;
    }

  }


}











