$TITLE_FONT: ps_sticko, arial, helvetica, sans;
$BODY_FONT: museo_sans300, helvetica, sans;
$BOLD: museo_sans500, sans;


$beige: #e9e6df; //#f3f2ee;
$beige10: #e0ded6;
$beige20: #d6d3c8;
$beige30: #d6d3cb;
$beige40: #b9b5a9;
$black10: #403329; //#323334;
$black20: #968778; //#323334;
$white: #ffffff;
$red: #cb0916;
// placeholder-beige e5d5cd


$MAX-WIDTH: 1920px;
$CONTENT-MAX-WIDTH: 1280px;
$HEIGHT: 780;
$HPADDING: 2rem;


$TIME-3: .3s;
$TIME-5: .5s;

$W_P_HUAWEI: 180px;
$H_P_HUAWEI: 320px;
$W_L_HUAWEI: 480px;
$H_L_HUAWEI: 180px;
$W_P_SAMSUNG: 480px;
$H_P_SAMSUNG: 600px;
$W_L_SAMSUNG: 700px;
$H_L_SAMSUNG: 400px;
$W_L_DESKTOP: 900px;
$H_L_DESKTOP: 700px;


$default-font-family: $BODY_FONT;
$default-font-family-m: $BODY_FONT;
$default-font-size: 1.2rem;
$default-line-height: 1.5rem;
$default-text-align: left;
$default-text-shadow: 0px 0px 8px rgba(255, 255, 255, 0.4);

$BT-SIZE-TL: 4rem;
$BT-SIZE: 4rem;

// TODO is it possible to increase and store a variable value?
$Z-INDEX: 10;
@function z-index($offset:0) {
  @if $offset!=0 {
    @return ($Z-INDEX + $offset);
  }
  $Z-INDEX: ($Z-INDEX + 10);

  //@debug $Z-INDEX;
  @return $Z-INDEX;
}


$arrow_size: 4rem;

$body-bg-color: $beige;

$caption-font-family: $default-font-family;
$caption-font-size: $default-font-size * .9;
$caption-line-height: $default-line-height *.9;
$caption-font-style: italic;
$caption-line-height: $default-line-height * .9;
$caption-text-shadow: $default-text-shadow;


$card-font-family: $TITLE_FONT;
$card-name-color: $black10;
$card-name-font-size: 7rem; /** for reference, 115.72pt in illustrator is 6.5 rem**/
$card-name-font-size-tp: 8rem;
$card-name-line-height-d: 5rem; //4rem;
$card-name-line-height: 5.5rem; //4rem;
$card-copy-font-size: 3rem; //2.75rem;
$card-copy-font-size-tp: $card-copy-font-size; //$card-name-font-size * .6103 + .2rem;
$card-copy-line-height: 2.4rem; //4rem;
$card-mail-color: $red;
$card-mail-color-hover: $white;
$card-mail-font-size: $card-copy-font-size;
$card-flag-scale: 1; //( ( $card-copy-font-size * 16px ) / $card-mail-font-size )/1rem;
$card-mail-font-size-tp: $card-copy-font-size-tp;
$card-copy-color: $black10;
$card-mail-bg-color: $body-bg-color;
$card-mail-bg-color-hover: $red;


$case-bgcolor: $beige30;
$case-z-index: z-index();
$case-max-width: $CONTENT-MAX-WIDTH;
$case-font-family: $default-font-family;
$case-font-size: $default-font-size;
$case-line-height: $default-line-height * 1.1;
$case-description-heading-font-family: $TITLE_FONT;
$case-description-heading-font-size: 2.5rem;
$case-bt-z-index: 20;
$case-video-cont-z-index: 10;
$case-text-align: $default-text-align;
$case-text-shadow: $default-text-shadow;
$case-title-font-family: $TITLE_FONT;
$case-title-font-size-d: 6rem;
$case-title-font-size: $case-title-font-size-d * .9;
$case-title-font-weight: bold;
$case-title-color: $black10;
$case-title-line-height: $default-line-height  * 2;
$case-role-font-family: $case-title-font-family;
$case-role-font-size-d: $default-font-size * 1.8;
$case-role-font-size: $case-role-font-size-d * .8 * 1.5;
$case-role-font-color: $black10;
$case-role-font-weight: bold;
$case-p-max-width: 960px;
$case-row-max-width-d: $CONTENT-MAX-WIDTH *.6;
$case-row-max-width: 80%;
$case-even-bgcolor: $beige;
$case-odd-bgcolor: $beige20;

$gallery-background-color: $beige30;
$gallery-padding-top: 2rem;
$gallery-padding-right: 1.5rem;
$gallery-bt-size-tl: $BT-SIZE-TL;
$gallery-bt-size: $BT-SIZE;


$home-footer-font-size: $card-name-font-size * .6;
$home-footer-font-family: $TITLE_FONT;
$home-footer-color: $white;
$home-footer-bg-color: $beige20;

$home-item-even-bgcolor: $beige10;
$home-item-odd-bgcolor: $beige20;

$home-item-description-font-family: $BODY_FONT;
$home-item-description-font-size-tl: 1.1rem;
$home-item-description-font-size: $home-item-description-font-size-tl;
$home-item-description-line-height: 1.75rem;
$home-item-description-font-color: $black10;
$home-item-description-font-color-over: $white;

$home-item-height: 70vh;
$home-item-max-height: 750px;
$home-item-left-block-with: 40%;
$home-item-right-block-with: 100% - $home-item-left-block-with;

$home-item-title-font-family: $TITLE_FONT;
$home-item-title-font-size-tl: 2.5rem;
$home-item-title-font-size: $home-item-title-font-size-tl;
$home-item-title-font-color: $black10;
$home-item-img-scale: .692;
$home-item-img-scale-hover: .75;

$home-item-role-font-family: $TITLE_FONT;
$home-item-role-font-size-tl: $home-item-title-font-size-tl*.8;
$home-item-role-font-size: $home-item-role-font-size-tl*.8;
$home-item-role-font-color: $black20;

$item-bt-size-tl: $BT-SIZE-TL;
$item-bt-size: $BT-SIZE;

$logos-bg: $beige10;


$view-case-font-family: $BOLD;
$view-case-font-size-tl: 2.5rem;
$view-case-font-size: 2.5rem;
$view-case-font-color: $black10;
$view-case-font-color: $white;

